
/* latin-ext */
@font-face {
  font-family: 'nobel';
  font-style: normal;
  font-weight: 400;
  src: local('nobel'), local('nobel-Regular'), url(..fonts/nobel-bold.woff) format('woff');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/*Nav*/
.row{
    margin: 0;
}
.navbar-nav>li>a{
   font-size: 20px;
   padding: 15px 15px;
   font-weight: bold;
   letter-spacing: 2px;
}
.navbar-inverse .navbar-nav>li>a{
    color:white;
    font-family: 'Courgette', cursive;
}

.navbar-inverse {
    /*background: transparent;*/
    background: rgb(11, 11, 11);
    border: none;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color:grey;
}
.navbar-brand{
  font-family: 'nobel', cursive;
  font-weight: bold;
  font-size: 2.1em;
}

/
/*home-section1*/

.container-fluid{
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    position: relative;

}


.home-bg video{
    width: 100%;
    z-index: 0;
    margin: auto;
    /*display: none;*/
}
.home-bg {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.home-bg-cover{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: black;
    z-index: 10;
    -webkit-filter: blur(5px) brightness(0.4);
}
.home-button{
    display: none;
    font-family: 'Caveat', cursive;
    width: 100%;
    z-index: 100;
    position: absolute;
    bottom: 30%;
    text-align: center;
}
.home-button a{
    color: #ffffff;
    font-size: 2em;
    background:transparent;
}
.home-button > a:hover{
    color: black;
    background: white;;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

/*jounery*/
/*-------- don't use this csss remove this ----------------------*/
.margin { margin-top:50px; }
/*-------- don't use this csss remove this ----------------------*/


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

svg {
  display: block;
  overflow: visible;
}

.slider-container {
    overflow: hidden;
    position: relative;
    height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
      cursor: all-scroll;
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
  background-repeat: no-repeat;
  background-position: center;
}

.slide .slide__overlay-path {
  fill: black;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("../img/1964.jpg");
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url("../img/1974.jpg");
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url("../img/1979.jpg");
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url("../img/1994.jpg");
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.slide:nth-child(5) {
  left: 400%;
}
.slide:nth-child(5) .slide__bg {
  left: -200%;
  background-image: url("../img/2014.jpg");
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.slide:nth-child(6) {
  left: 500%;
}
.slide:nth-child(6) .slide__bg {
  left: -250%;
  background-image: url("../img/2017.jpg");
}
@media (max-width: 991px) {
  .slide:nth-child(6) .slide__text {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  -webkit-transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  will-change: transform, opacity;
  -webkit-transform: translate3d(-20%, 0, 0);
          transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 9%;
  color: #fff;
  -webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  will-change: transform, opacity;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

a.slide__text-link:hover { text-decoration:none; color:#FFF;}

@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    padding: 0 1rem;
  }
}
.slide__text-heading {
    font-family: 'nobel', cursive;
  font-size: 3rem;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 20rem;
    font-size: 3.5rem;
  }
}
.slide__text-desc {
    font-family: 'nobel', cursive;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}

@media (max-width: 991px) {
  .slide__text-link {
    display: none;
  }
}
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-85deg);
          transform: rotateX(-85deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}
.slide__text-link:hover:before {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
.overview-gallery-button a{
    color: white;
    font-size: 2em;
    border: 1px solid white;
    background:transparent;
}
.overview-gallery-button > a:hover{
    transform: scale(1.2);
    background: white;;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}
/*home*/
.home .col-md-6{
    padding: 0;
}
.home .col-md-6,.col-md-2,.col-md-4{
    padding: 0;
}
.home-features,.home-blog,.home-gallery{
    font-family: 'nobel', cursive;
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    /*background-color: red;*/
}
.home img{
    width: 100%;
    height: 100%;
}
.home-gallery:hover img{
    transform: scale(1.2);
    transition: 2s;
}
.home-features:hover img{
    transform: scale(1.2);
    transition: 2s;
}
.home-blog:hover img{
    transform: scale(1.2);
    transition: 2s;
}
.home-description{
    width: 100%;
    height: 20px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    letter-spacing: 1.1em;
    color: white;
    z-index: 100;
    top: 20%;
    font-weight: bolder;
}
.home-description-blog{
    top: 80%;
}
.home-button2{
    width: 100%;
}
.home-explore{
    font-size: 1.3em;
    text-align: center;
    position: absolute;
    bottom:40%;
    text-align: center;
    color: white;
    left: 40%;
    background: transparent;
}
.home-explore-blog{
    left: 20%;
}

/*jounrney*/

/*features*/
.features{
    margin-top: 8%;
    text-align: center;
    /*font-family: "nobel-bold",Helvetica,Arial,sans-serif;*/
    font-family: 'nobel', cursive;
}
.key-features {
    padding-left: 5%;
}
.key-features  h1{
    margin-bottom: 5%;
}
.key-features .image-set a{

    color: black !important;
}
.key-features .description{
    margin-top: 5%;
    margin-bottom: 5%;
    border-bottom: 1px solid black;
    line-height: 2em;
}
.key-features .description .description-title{
    font-weight: bold;
    font-size: 1.2em;
}

.sidebar{
    padding-left: 4%;
    height: 100%;
    position: fixed;
    padding-right: 0;
    z-index: 1000;
}
.sidebar-title{
    padding-bottom: 23%;
}
.sidebar-title span{
    display: block;
}
.sidebar-title .title-top{
    font-size: 1.1em;
    font-weight: bold;
}
.sidebar-title .modal-name{
    font-size: 2.4em;
    font-weight: bold;
}

.main-links{
    color: white;
    background: black;
}
.main-links a{
    text-decoration: none;
    color: white;
}
.main-links a:hover{
    border-bottom: 1px solid white;

}
.sidebar-active a{
    border-bottom: 1px solid white;
}

.main-links div{
    margin-top:10%;
    margin-bottom:10%;
    padding-top:5%;
    padding-bottom: 5%

}
.main-links div:first-child{
    margin-top:auto;
    padding-top: 20%;
}
.main-links div:last-child{
    margin-top:auto;
    padding-bottom: 20%;
}
/*features-performance*/
.performance{
    padding-left: 5%;

}
.performance img{
    width: 95%;
}
.performance h1{
    margin-bottom: 5%;
}


.performance h3{
    margin-bottom: 10%;
    margin-top: 10%;

}
.performance .haige1{
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;

}
.performance .haige{
    font-size: 4em;
    width: 100%;
    height: 20%;
    border-style:dashed;
    border-left: none;
    border-right: none;
    border-width: 0.5px;
    padding-top: 10%;
    padding-bottom: 10%;

}

.performance .haige span{
    display: inline-block;
    width: 100%;
    text-align: right;
    padding-right: 5%;
}
.performance .performance-description{
    margin-top: 5%;
    margin-bottom: 5%;
    line-height: 2em;
}
.performance  .line{
    width: 100%;
    border: 0.5px dashed black;
    border-bottom: none;
    margin-bottom: 5%;
}

/*Gallery*/

.gallery{
    font-family: 'nobel', cursive;
    text-align: center;
}
.gallery h1{
    margin-top: 10%;
    margin-bottom: 2%;
}

.gallery ul li{
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    border-left: 0.5px dashed black;
}
.gallery ul li:first-child{
    border-left: none;

}
.grid-item {
    padding: 1%;
    width: 32.6%;
    overflow: hidden;
    text-align: center;
}
.gallery .grid-item{
    padding: 0;
    margin-bottom: -1%;
}
.grid-item-1{
 width: 45%;
}
.grid-item-2 {
    width: 50%;
}
.grid-item-3 {
    width: 55%;
}
.grid-item-4 {
    width: 65%;
}
.grid-item-5 {
    width: 25%;
}

/* clear fix */
.grid:after {
content: '';
display: block;
clear: both;
}

/* ---- .grid-item ---- */

.grid-item img {
    display: block;
    max-width: 100%;
}
.grid-item img:hover {
    transform: scale(1.1);
    transition: 2s;
}

.decode-text {
    position: absolute;
    font-family: 'Caveat', cursive;
  width: 60%;
  font-size: 30px;
  margin-top:15%;
  z-index: 30;
  left: 20%;

}
.space {
  display: inline-block;
  width: 10px;
}
.text-animation {
  display: inline-block;
  color: transparent;
  text-transform: uppercase;

}
.text-animation:before {
  content: '';
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #0e182d;
  width: 0;
  height: 1.2em;
  -webkit-transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}
.text-animation.state-1:before {
  width: 1px;
}
.text-animation.state-2:before {
  width: .9em;
}
.text-animation.state-3 {
  color: white;
}
.text-animation.state-3:before {
  width: 0;
}
.text-mustang{
    font-size: 2.5em;
}
