<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='js/jquery-3.1.1.min.js'></script>
    <script src='js/skrollr.js'></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/mustang.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="stylesheet" href="css/lightbox.css">
    <title>Mustang</title>
</head>
<body>
    <div class="container-fluid" style="padding:0">
        <% include ./global/navbar.ejs %>
        <div class="row home">
            <div class ='home-bg'
                data-center="background-position: 50% 0px;"
                data-top-bottom="background-position: 50% -200px;">
                <div class="decode-text">
                      	<div class="text-mustang text-animation" style="display:inline-block;position:relative;">M</div>
                      	<div class="text-mustang text-animation" style="display:inline-block;position:relative;">u</div>
                       	<div class="text-mustang text-animation" style="display:inline-block;position:relative;">s</div>
                        <div class="text-mustang text-animation" style="display:inline-block;position:relative;">t</div>
                        <div class="text-mustang text-animation" style="display:inline-block;position:relative;">a</div>
                        <div class="text-mustang text-animation" style="display:inline-block;position:relative;">n</div>
                        <div class="text-mustang text-animation" style="display:inline-block;position:relative;">g</div>
                        <div></div>

                        <div class="text-animation" style="display:inline-block;position:relative;">#</div>
                        <div class="text-animation" style="display:inline-block;position:relative;">1</div>
                        <div class="space"></div>

                        <div class="text-animation" style="display:inline-block;position:relative;">S</div>
                        <div class="text-animation" style="display:inline-block;position:relative;">p</div>
                        <div class="text-animation" style="display:inline-block;position:relative;">o</div>
                      	<div class="text-animation" style="display:inline-block;position:relative;">r</div>
                      	<div class="text-animation" style="display:inline-block;position:relative;">t</div>
                        <div class="space"></div>

                       	<div class="text-animation" style="display:inline-block;position:relative;">c</div>
                        <div class="text-animation" style="display:inline-block;position:relative;">a</div>
                        <div class="text-animation" style="display:inline-block;position:relative;">r</div>

                        <div class="space"></div>

                        <div class="text-animation" style="display:inline-block;position:relative;">f</div>
                        <div class="text-animation" style="display:inline-block;position:relative;">o</div>
                        <div class="text-animation" style="display:inline-block;position:relative;">r</div>
                        <div class="space"></div>

                        <div class="text-animation" style="display:inline-block;position:relative;">o</div>
                      	<div class="text-animation" style="display:inline-block;position:relative;">v</div>
                      	<div class="text-animation" style="display:inline-block;position:relative;">e</div>
                        <div class="text-animation" style="display:inline-block;position:relative;">r</div>
                        <div class="space"></div>

                        <div class="text-animation" style="display:inline-block;position:relative;">4</div>
                        <div class="text-animation" style="display:inline-block;position:relative;">5</div>
                        <div class="space"></div>

                        <div class="text-animation" style="display:inline-block;position:relative;">y</div>
                        <div class="text-animation" style="display:inline-block;position:relative;">e</div>
                      	<div class="text-animation" style="display:inline-block;position:relative;">a</div>
                        <div class="text-animation" style="display:inline-block;position:relative;">r</div>
                        <div class="text-animation" style="display:inline-block;position:relative;">s</div>



                    </div>
                <div class="home-button">
                    <a href="/journey" class="btn btn-default" role="button">Start Jounery</a>
                </div>
               <div>
                   <video id="myVideo" autoplay loop muted>
                       <source src="mustang0.mp4" type="video/mp4">
                   </video>
                   </span>
               </div>
                <div class="home-bg-cover"
                    data-5-top="opacity: 0.6"
                    data--400-top="opacity: 0.8"
                    data--700-top="opacity: 1">
                </div>
            </div>


        </div>

    </div>
    <script src = 'js/smooth-scroll.min.js'></script>
    <script src = 'js/masonry.pkgd.min.js'></script>
    <script src="js/bootstrap.min.js"></script>
    <script src ='js/script.js'></script>

</body>
</html>
