<div class="col-md-2 sidebar animated fadeInLeft">
    <div class="sidebar-title">
        <span class="title-top">The 2017</span>
        <span class="modal-name">Mustang</span>
    </div>
    <div class="main-links">
        <div class="sidebar-active"><a href="#!/keyfeature">KEY FEATURES</a></div>
        <div><a href="">DESIGN</a></div>
        <div><a href="">HANDLING</a></div>
        <div><a href="">TECHNOLOGY</a></div>
        <div><a href="#!/performance">PERFORMANCE</a></div>

    </div>

</div>
<div class="col-md-10  col-md-push-2 key-features">
    <h1>Key Features</h1>
    <div class=" grid">
        <div class="image-set">
            <a  href="img/p1.jpeg" data-lightbox="performance" data-title="2.3L EcoBoost®">
                <div class="grid-item gird-item-1 animated fadeInUp">
                    <img src="img/4and1.jpeg" alt="">
                    <div class="description">
                        <span class="description-title">FOUR CAR ONE SOUL</span>
                        <p class="description-text">
                            Fasten your seatbelts. Each engine delivers at least 300 horsepower.
                        </p>
                    </div>
                </div>
            </a>
            <a  href="img/p2.jpeg" data-lightbox="performance" data-title="5.0L GT">
                <div class="grid-item grid-item-2 animated fadeInUp">
                    <img src="img/p2.jpeg" alt="">
                    <div class="description">
                        <span class="description-title">FOUR CAR ONE SOUL</span>
                        <p class="description-text">
                            Fasten your seatbelts. Each engine delivers at least 300 horsepower.
                        </p>
                    </div>
                </div>
            </a>
            <a  href="img/p3.jpeg" data-lightbox="performance" data-title="Launch Control.">
                <div class="grid-item gird-item-2 animated fadeInUp">
                    <img src="img/p3.jpeg" alt="">
                    <div class="description">
                        <span class="description-title">FOUR CAR ONE SOUL</span>
                        <p class="description-text">
                            Fasten your seatbelts. Each engine delivers at least 300 horsepower.
                        </p>
                    </div>
                </div>
            </a>
            <a  href="img/p4.jpeg" data-lightbox="performance" data-title="Electronic Line-Lock">
                <div class="grid-item grid-item-3"
                    sn-skrollr
                    data-bottom-top='transform:translateY(900px);opacity:0'
                    data-center-top='transform:translateY(0);opacity:1'>
                    <img src="img/p4.jpeg" alt="">
                    <div class="description">
                        <span class="description-title">FOUR CAR ONE SOUL</span>
                        <p class="description-text">
                            Fasten your seatbelts. Each engine delivers at least 300 horsepower.
                        </p>
                    </div>
                </div>
            </a>
            <a  href="img/p5.jpeg" data-lightbox="performance" data-title="Selectable Drive Modes">
                <div class="grid-item"
                sn-skrollr
                data-bottom-top='transform:translateY(900px);opacity:0'
                data-center-top='transform:translateY(0);opacity:1'>
                    <img src="img/p5.jpeg" alt="">
                    <div class="description">
                        <span class="description-title">FOUR CAR ONE SOUL</span>
                        <p class="description-text">
                            Fasten your seatbelts. Each engine delivers at least 300 horsepower.
                        </p>
                    </div>
                </div>
            </a>
            <a  href="img/p2.jpeg" data-lightbox="performance" data-title="5.0L GT">
                <div class="grid-item grid-item-2"
                    sn-skrollr
                    data-bottom-top='transform:translateY(900px);opacity:0'
                    data-center-top='transform:translateY(0);opacity:1'>
                    <img src="img/p2.jpeg" alt="">
                    <div class="description">
                        <span class="description-title">FOUR CAR ONE SOUL</span>
                        <p class="description-text">
                            Fasten your seatbelts. Each engine delivers at least 300 horsepower.
                        </p>
                    </div>
                </div>
            </a>
            <a  href="img/p3.jpeg" data-lightbox="performance" data-title="Launch Control.">
                <div class="grid-item gird-item-2"
                    sn-skrollr
                    data-bottom-top='transform:translateY(900px);opacity:0'
                    data-center-top='transform:translateY(0);opacity:1'>
                    <img src="img/p3.jpeg" alt="">
                    <div class="description">
                        <span class="description-title">FOUR CAR ONE SOUL</span>
                        <p class="description-text">
                            Fasten your seatbelts. Each engine delivers at least 300 horsepower.
                        </p>
                    </div>
                </div>
            </a>
            <a  href="img/p4.jpeg" data-lightbox="performance" data-title="Electronic Line-Lock">
                <div class="grid-item grid-item-3"
                    sn-skrollr
                    data-bottom-top='transform:translateY(900px);opacity:0'
                    data-center-top='transform:translateY(0);opacity:1'>
                    <img src="img/p4.jpeg" alt="">
                    <div class="description">
                        <span class="description-title">FOUR CAR ONE SOUL</span>
                        <p class="description-text">
                            Fasten your seatbelts. Each engine delivers at least 300 horsepower.
                        </p>
                    </div>
                </div>
            </a>
            <a  href="img/p5.jpeg" data-lightbox="performance" data-title="Selectable Drive Modes">
                <div class="grid-item"
                    sn-skrollr
                    data-bottom-top='transform:translateY(900px);opacity:0'
                    data-center-top='transform:translateY(0);opacity:1'>
                    <img src="img/p5.jpeg" alt="">
                    <div class="description">
                        <span class="description-title">FOUR CAR ONE SOUL</span>
                        <p class="description-text">
                            Fasten your seatbelts. Each engine delivers at least 300 horsepower.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function(){
        skrollr.get().refresh()
    })
    var $grid = $('.grid').masonry({
      itemSelector: '.grid-item',
      percentPosition: true,
    });
</script>
