
<div class="col-md-2 sidebar animated fadeInLeft">
    <div class="sidebar-title">
        <span class="title-top">The 2017</span>
        <span class="modal-name">Mustang</span>
    </div>
    <div class="main-links">
        <div><a href="#!/keyfeature">KEY FEATURES</a></div>
        <div><a href="">DESIGN</a></div>
        <div><a href="">HANDLING</a></div>
        <div><a href="">TECHNOLOGY</a></div>
        <div class="sidebar-active"><a href="#!/performance">PERFORMANCE</a></div>

    </div>

</div>
<div class="col-md-10 col-md-push-2 row performance">
    <h1>Performance</h1>
    <div class="animated zoomIn"><img src="img/4and1.jpeg" alt=""></div>
    <div class="haige1"
         data-center ='opacity:1'
         data-bottom-top = 'opacity:0'>
        <div class="haige">
            “I think this is a very very good car!" <br>
            <span>--- Hai Ji</span>
        </div>
    </div>

    <div class="col-md-6"
        sn-skrollr
        data-bottom-top='transform:translateX(-900px);'
        data-center-top='transform:translatex(0);'>
        <h3>STRONG ENGINE</h3>
        <img src="img/p2.jpeg" alt="">
        <p class="performance-description">From the deep, guttural rumble at idle to the wide-eyed force of torque in acceleration, this engine is all about performance.
        </p>
    </div>
    <div class="col-md-6"
        sn-skrollr
        data-bottom-top='transform:translateX(900px);'
        data-center-top='transform:translatex(0);'>
        <h3>LAUNCH CONTROL</h3>
        <img src="img/p3.jpeg" alt="">
        <p class="performance-description">From the deep, guttural rumble at idle to the wide-eyed force of torque in acceleration, this engine is all about performance.
        </p>
    </div>
    <div class="col-md-12"
        sn-skrollr
        data-center ='opacity:1'
        data-bottom-top = 'opacity:0'>
        <div class="line"></div>
     </div>
    <div
        sn-skrollr
        data-center ='opacity:1'
         data-bottom-top = 'opacity:0'>
         <img src="img/4an11.jpeg" alt="">
     </div>
    <div class="col-md-6"
        sn-skrollr
        data-bottom-top='<transform:translateX(-900px);'
        data-center-top='transform:translateX(0);'>
        <h3>ELECTRONIC LINE-LOCK</h3>
        <img src="img/p4.jpeg" alt="">
        <p class="performance-description">
            Electronic Line-Lock**, standard on Mustang GT, is the first feature of its kind in the industry, and the perfect tool for Mustang drivers who love to test their skills at the track.
        </p>
    </div>
    <div class="col-md-6"
        sn-skrollr
        data-bottom-top='transform:translateX(900px);'
        data-center-top='transform:translatex(0);'>
        <h3>SELECTABLE DRIVE MODES</h3>
        <img src="img/p5.jpeg" alt="">
        <p class="performance-description">
            Customizable driving preferences let you dial in the handling dynamics you want.
        </p>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function(){
        skrollr.get().refresh()
    })
</script>
