bodY{
    background-color: #e3e2cf;
}
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:250px;
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #b82f43 ;
    color:floralwhite;
}
.about-title{
    margin-left: 15px;
}

.contactus-title{
    margin-left: 15px;
}
.table{
    margin-bottom: 50px;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.breadcrumb{
    font-size: 1.3em;
    margin-top: 20px;
}


.navbar-inverse {

}
.navbar-header a{
    padding: 0;
}
.navbar-right{
    color:white;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: white;
    background: #454645;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: white;
    background: #454645;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    color:white;
    background: #454645;

}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}
.breadcrumb{
    background-color: #e3e2cf;
    border-bottom: 1px solid black;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.affix {
    top:80px;
}

.carousel {
    background:#1A237E;
}
.carousel .item {
  height: 300px;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButtons{
    right:0px;
    position: absolute;
    bottom: 0px;
}
